body {
  display: flex;
  flex-direction: row;
  justify-content: center;
  font-family:  'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background: linear-gradient(135deg, #e0f7fa, #f1f8e9);
  color: #333;
}

.card{
  background-color: #333;
  width: 65%;
  padding: 20px;
  padding-top: 0px;
  border-radius: 12px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
  color: white;
}

#formCliente{
  background-color: #333;
  width: 50%;
  border-radius: 10px;
  border: 1px solid #e1e5ea;
}

.field {
  display: flex;
  gap: 5px;
  margin-bottom: 8px;
  align-items: center;
  border-radius: 8px;
  justify-content: space-between
}

.field2{
  display: flex;
  margin-bottom: 8px;
  align-items: center;
  border-radius: 8px;
  gap: 10px;
}

#formCliente {
  display: flex;
  flex-direction: column;
  border: none;
  width: 53.2%;
}

.result-section {
  display: flex;
  flex-direction: column;
  width: 40%;
  gap: 5px;
  height: fit-content;
  background-color: #333;
  border: none;
  border-radius: 10px;
}

.buttons {
  background-color: rgb(63, 130, 231);
  color: #fff;
  padding: 10px 16px;
  border: none;
  border-radius: 8px;
  font-size: 15px;
  font-weight: 600;
  cursor: pointer;
  transition: background-color 0.25s ease, transform 0.1s ease, box-shadow 0.25s ease;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

input,
select,
textarea {
  padding: 5px 8px;
  border: 0.2px solid #495057;
  border-radius: 5px;
  font-family: inherit;
  font-size: 14px;
  background-color: #fff;
  border-color: #495057;
}

input[type=checkbox]{
  margin-bottom: 0;
}

label {
  font-weight: bold;
}

#btnCopiar {
  text-align: center;
  font-size: small;
  background-color: #ffc107;
}

#mostrarBtn{
    background-color: #198754;
}

#numeroCliente{
  width: 30%;
}

#usuarioE{
  width: 30%;
}